### Mengimport Library dan Module yang dibutuhkan dalam pengerjaan

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Membaca File CSV, 5 data awal, dan Info di dalam Dataset

In [2]:
dataset_split = pd.read_csv("netflix daily top 10.csv")

In [3]:
dataset_split.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [4]:
dataset_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

### Data Split

#### Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
dataset_split.shape

(7100, 10)

In [6]:
X = dataset_split.iloc[:,:-1]
y = dataset_split.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [7]:
print("Dimensi X_train : ", X_train.shape)
print("Dimensi X_test : ", X_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train :  (4970, 9)
Dimensi X_test :  (2130, 9)
Dimensi y_train :  (4970,)
Dimensi y_test :  (2130,)

### Normalisasi Data

#### Melakukan normalisasi data pada salah satu attribute dengan menggunakan Min Max Scaler

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
min_max_scaler = MinMaxScaler()

In [10]:
dataset_normalization = dataset_split

In [11]:
x_scaled = min_max_scaler.fit_transform(
    dataset_normalization[['Days In Top 10', 'Viewership Score']]
)

In [12]:
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0         1
0  0.018735  0.060421
1  0.009368  0.029871
2  0.018735  0.050916
3  0.009368  0.019688
4  0.018735  0.036660

### Standarisasi Data

#### Melakukan standarisasi pada dataset

In [13]:
dataset_standarization = dataset_split

In [15]:
np.std(dataset_standarization)

Rank                  2.872281
Days In Top 10       58.469671
Viewership Score    213.846581
dtype: float64

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
ss = StandardScaler()

In [18]:
x_scaled2 = ss.fit_transform(
    dataset_standarization[['Days In Top 10', 'Viewership Score']]
)

In [19]:
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

          0         1
0 -0.258658 -0.153335
1 -0.327070 -0.363766
2 -0.258658 -0.218802
3 -0.327070 -0.433910
4 -0.258658 -0.317004

In [20]:
np.std(x_scaled2)

1.0

In [21]:
np.mean(x_scaled2)

-3.2024461330032686e-17

### Data Cleaning

#### Menangani Nilai NULL dengan ketentuan sebagai berikut :
##### 1) Bilangan Bulat -> Median/Modus
##### 2) Bilangan Desimal -> Mean
##### 3) Tulisan -> Modus (Contoh di bawah ini)

In [22]:
df = pd.read_csv("netflix daily top 10 rusak.csv", sep = ";")

In [23]:
df.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,01/04/2020,1,1.0,1.0,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,01/04/2020,2,2.0,NaN,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,01/04/2020,3,3.0,2.0,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,01/04/2020,4,4.0,NaN,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,01/04/2020,5,5.0,4.0,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [24]:
df[13:18]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
13,02/04/2020,4,NaN,NaN,Nailed It!,TV Show,Yes,"Mar 9, 2018",1,7
14,02/04/2020,5,NaN,NaN,How to Fix a Drug Scandal,TV Show,Yes,"Apr 1, 2020",1,6
15,02/04/2020,6,4.0,NaN,Blood Father,Movie,NaN,"Mar 26, 2020",6,35
16,02/04/2020,7,NaN,NaN,The Roommate,Movie,NaN,"Apr 1, 2020",1,4
17,02/04/2020,8,7.0,NaN,Unorthodox,TV Show,Yes,"Mar 26, 2020",3,8

In [25]:
df.isna().sum()

As of                      0
Rank                       0
Year to Date Rank        857
Last Week Rank          3967
Title                      0
Type                      40
Netflix Exclusive       2500
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

In [26]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "most_frequent")

In [27]:
df["Year to Date Rank"] = imputer.fit_transform(df[["Year to Date Rank"]])

In [28]:
df.isna().sum()

As of                      0
Rank                       0
Year to Date Rank          0
Last Week Rank          3967
Title                      0
Type                      40
Netflix Exclusive       2500
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

In [29]:
df[13:18]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
13,02/04/2020,4,2.0,NaN,Nailed It!,TV Show,Yes,"Mar 9, 2018",1,7
14,02/04/2020,5,2.0,NaN,How to Fix a Drug Scandal,TV Show,Yes,"Apr 1, 2020",1,6
15,02/04/2020,6,4.0,NaN,Blood Father,Movie,NaN,"Mar 26, 2020",6,35
16,02/04/2020,7,2.0,NaN,The Roommate,Movie,NaN,"Apr 1, 2020",1,4
17,02/04/2020,8,7.0,NaN,Unorthodox,TV Show,Yes,"Mar 26, 2020",3,8

#### Menangani Nilai Duplikat

In [30]:
df[df.duplicated()]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
97,01/04/2020,6,6.0,NaN,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
98,01/04/2020,6,6.0,NaN,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
99,01/04/2020,6,6.0,NaN,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
100,01/04/2020,6,6.0,NaN,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
101,01/04/2020,6,6.0,NaN,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
143,10/04/2020,2,2.0,2.0,Ozark,TV Show,Yes,"Jul 21, 2017",14,126
144,10/04/2020,2,2.0,2.0,Ozark,TV Show,Yes,"Jul 21, 2017",14,126
145,10/04/2020,2,2.0,2.0,Ozark,TV Show,Yes,"Jul 21, 2017",14,126
146,10/04/2020,2,2.0,2.0,Ozark,TV Show,Yes,"Jul 21, 2017",14,126
147,10/04/2020,2,2.0,2.0,Ozark,TV Show,Yes,"Jul 21, 2017",14,126
180,16/04/2020,7,6.0,7.0,All American,TV Show,NaN,"Mar 28, 2019",24,152
181,16/04/2020,7,6.0,7.0,All American,TV Show,NaN,"Mar 28, 2019",24,152
182,16/04/2020,7,6.0,7.0,All American,TV Show,NaN,"Mar 28, 2019",24,152

In [31]:
df.duplicated().sum()

13

In [32]:
df.drop_duplicates(inplace = True)

In [33]:
df[df.duplicated()]

Empty DataFrame
Columns: [As of, Rank, Year to Date Rank, Last Week Rank, Title, Type, Netflix Exclusive, Netflix Release Date, Days In Top 10, Viewership Score]
Index: []

In [34]:
df.duplicated().sum()

0

### Mengganti Tipe Data salah satu attribute angka

In [35]:
df.dtypes

As of                    object
Rank                      int64
Year to Date Rank       float64
Last Week Rank          float64
Title                    object
Type                     object
Netflix Exclusive        object
Netflix Release Date     object
Days In Top 10            int64
Viewership Score          int64
dtype: object

In [36]:
df['Viewership Score'] = df['Viewership Score'].astype('float64')

In [37]:
df.dtypes

As of                    object
Rank                      int64
Year to Date Rank       float64
Last Week Rank          float64
Title                    object
Type                     object
Netflix Exclusive        object
Netflix Release Date     object
Days In Top 10            int64
Viewership Score        float64
dtype: object

### Encoding

#### Melakukan One Hot Encoding pada dataset

In [38]:
from sklearn.preprocessing import OneHotEncoder

In [39]:
onehotencoder = OneHotEncoder(sparse = False)

In [40]:
Type_encoded2 = onehotencoder.fit_transform(df[["Type"]])

In [41]:
df2 = pd.DataFrame(Type_encoded2)
df = df.join(df2)

In [42]:
df.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score,0,1,2,3
0,01/04/2020,1,1.0,1.0,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90.0,0.0,0.0,1.0,0.0
1,01/04/2020,2,2.0,NaN,Ozark,TV Show,Yes,"Jul 21, 2017",5,45.0,0.0,0.0,1.0,0.0
2,01/04/2020,3,3.0,2.0,All American,TV Show,NaN,"Mar 28, 2019",9,76.0,0.0,0.0,1.0,0.0
3,01/04/2020,4,4.0,NaN,Blood Father,Movie,NaN,"Mar 26, 2020",5,30.0,0.0,1.0,0.0,0.0
4,01/04/2020,5,5.0,4.0,The Platform,Movie,Yes,"Mar 20, 2020",9,55.0,0.0,1.0,0.0,0.0

### Menyimpan dataset di atas ke dalam file csv

In [43]:
df.to_csv("Hasil_Postest4.csv")