## Mengimport Library Pandas untuk Membaca File CSV

In [296]:
import pandas as pd
Books = pd.read_csv("top2k_book_descriptions.csv")

## Menampilkan jumlah record, nama attribute, jumlah attribute dengan tipe data objek dan angka serta Menampilkan jumlah attribute yang memiliki nilai null

In [297]:
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 2000 non-null   int64
 1   id                         2000 non-null   int64
 2   book_id                    2000 non-null   int64
 3   best_book_id               2000 non-null   int64
 4   work_id                    2000 non-null   int64
 5   books_count                2000 non-null   int64
 6   isbn                       1923 non-null   object
 7   isbn13                     1931 non-null   float64
 8   authors                    2000 non-null   object
 9   original_publication_year  1998 non-null   float64
 10  original_title             1958 non-null   object
 11  title                      2000 non-null   object
 12  language_code              1918 non-null   object
 13  average_rating             2000 non-null   float64
 14  ratings_count              2000 non-null   int64
 15  work_ratings_count         2000 non-null   int64
 16  work_text_reviews_count    2000 non-null   int64
 17  ratings_1                  2000 non-null   int64
 18  ratings_2                  2000 non-null   int64
 19  ratings_3                  2000 non-null   int64
 20  ratings_4                  2000 non-null   int64
 21  ratings_5                  2000 non-null   int64
 22  image_url                  2000 non-null   object
 23  small_image_url            2000 non-null   object
 24  goodreads_book_id          2000 non-null   int64
 25  tag_name                   2000 non-null   object
 26  description                1986 non-null   object
dtypes: float64(3), int64(15), object(9)
memory usage: 422.0+ KB

## Memasukkan informasi ke dalam dictionary dengan key sesuai nama informasinya

In [298]:
record, attribute = Books.shape
jumlah_angka = Books.select_dtypes(["int64", "float64"]).any().sum()
jumlah_object = Books.select_dtypes(["object"]).any().sum()
nama_attribute = Books.columns.values
jumlah_null = Books.isnull().any().sum()

hasil = {
    "Jumlah Record Keseluruhan" : record,
    "\nJumlah Attribute Keseluruhan" : attribute,
    "\nNama Attribute" : list(nama_attribute),
    "\nJumlah Attribute (Tipe Angka)" : jumlah_angka,
    "\nJumlah Attribute (Tipe Object)" : jumlah_object,
    "\nJumlah Nilai Null" : jumlah_null
}

for x in hasil:
    print(x, ":", hasil[x])

Jumlah Record Keseluruhan : 2000

Jumlah Attribute Keseluruhan : 27

Nama Attribute : ['Unnamed: 0', 'id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year', 'original_title', 'title', 'language_code', 'average_rating', 'ratings_count', 'work_ratings_count', 'work_text_reviews_count', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url', 'small_image_url', 'goodreads_book_id', 'tag_name', 'description']

Jumlah Attribute (Tipe Angka) : 18

Jumlah Attribute (Tipe Object) : 9

Jumlah Nilai Null : 6

## Menampilkan rata-rata, standar deviasi, nilai minimun, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [299]:
Books.describe()

,Unnamed: 0,id,book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,goodreads_book_id
count,2000.000000,2000.000000,2.000000e+03,2.000000e+03,2.000000e+03,2000.000000,1.931000e+03,1998.000000,2000.0000,2.000000e+03,2.000000e+03,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,2.000000e+03,2.000000e+03
mean,999.500000,1051.920500,3.908008e+06,4.198825e+06,6.551237e+06,167.713500,9.763530e+12,1972.895395,4.0257,1.879155e+05,2.052916e+05,8614.623000,4962.421500,10713.854500,38040.793000,6.717473e+04,8.439980e+04,3.908008e+06
std,577.494589,677.250478,6.513878e+06,6.963581e+06,9.367034e+06,323.193432,3.815325e+11,167.939039,0.2380,3.178375e+05,3.373121e+05,11826.626976,14248.521485,19903.188893,56218.036532,1.018612e+05,1.646789e+05,6.513878e+06
min,0.000000,1.000000,1.000000e+00,1.000000e+00,1.150000e+02,1.000000,7.678361e+10,-750.000000,2.9700,5.011200e+04,5.102700e+04,39.000000,69.000000,364.000000,2246.000000,1.749000e+03,5.656000e+03,1.000000e+00
25%,499.750000,500.750000,1.550850e+04,1.613425e+04,1.111750e+06,47.000000,9.780313e+12,1983.000000,3.8800,6.590300e+04,7.206550e+04,2585.250000,1072.750000,3146.500000,13717.750000,2.452300e+04,2.678600e+04,1.550850e+04
50%,999.500000,1002.500000,1.113150e+05,1.258695e+05,2.640772e+06,75.000000,9.780448e+12,2002.000000,4.0300,9.413550e+04,1.041350e+05,5034.000000,1958.500000,5251.500000,20968.500000,3.549900e+04,4.030250e+04,1.113150e+05
75%,1499.250000,1518.250000,6.513228e+06,6.690843e+06,6.768355e+06,125.000000,9.780769e+12,2009.000000,4.1800,1.704625e+05,1.872058e+05,9882.500000,4177.000000,10413.750000,37300.500000,6.391800e+04,7.416400e+04,6.513228e+06
max,1999.000000,7373.000000,3.055549e+07,3.503641e+07,4.999747e+07,3455.000000,9.790008e+12,2017.000000,4.7700,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06,3.055549e+07

## Menampilkan nilai korelasi attribute bertipe angka

In [300]:
Books.corr()

,Unnamed: 0,id,book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,goodreads_book_id
Unnamed: 0,1.000000,0.968495,0.169049,0.142435,0.155464,-0.293544,-0.028094,0.069010,0.011483,-0.532696,-0.546363,-0.504533,-0.353977,-0.486836,-0.572394,-0.573797,-0.479328,0.169049
id,0.968495,1.000000,0.199136,0.171439,0.181154,-0.278328,-0.030945,0.071009,0.034235,-0.485533,-0.498155,-0.457566,-0.322117,-0.445225,-0.524579,-0.524337,-0.435284,0.199136
book_id,0.169049,0.199136,1.000000,0.930314,0.921931,-0.191001,-0.044094,0.137200,0.068166,-0.092453,-0.077580,0.226892,-0.051185,-0.071685,-0.097065,-0.077603,-0.064678,1.000000
best_book_id,0.142435,0.171439,0.930314,1.000000,0.858642,-0.179904,-0.039136,0.132097,0.069650,-0.088062,-0.064521,0.231193,-0.044070,-0.059256,-0.081891,-0.062400,-0.054630,0.930314
work_id,0.155464,0.181154,0.921931,0.858642,1.000000,-0.123415,-0.037600,0.108815,0.059054,-0.067622,-0.054982,0.198897,-0.041149,-0.058975,-0.076651,-0.056103,-0.041062,0.921931
books_count,-0.293544,-0.278328,-0.191001,-0.179904,-0.123415,1.000000,0.018418,-0.406522,-0.122614,0.269475,0.277397,0.099387,0.183645,0.286218,0.333479,0.292623,0.222867,-0.191001
isbn13,-0.028094,-0.030945,-0.044094,-0.039136,-0.037600,0.018418,1.000000,-0.002410,-0.025815,0.015938,0.016732,0.018192,0.010855,0.017839,0.021108,0.018209,0.012716,-0.044094
original_publication_year,0.069010,0.071009,0.137200,0.132097,0.108815,-0.406522,-0.002410,1.000000,0.084913,-0.023530,-0.023947,0.063930,-0.022792,-0.053569,-0.058016,-0.025558,-0.004992,0.137200
average_rating,0.011483,0.034235,0.068166,0.069650,0.059054,-0.122614,-0.025815,0.084913,1.000000,0.057661,0.059238,0.046406,-0.158450,-0.216865,-0.135887,0.039025,0.183508,0.068166
ratings_count,-0.532696,-0.485533,-0.092453,-0.088062,-0.067622,0.269475,0.015938,-0.023530,0.057661,1.000000,0.994186,0.739305,0.698300,0.817917,0.921946,0.975277,0.959134,-0.092453
work_ratings_count,-0.546363,-0.498155,-0.077580,-0.064521,-0.054982,0.277397,0.016732,-0.023947,0.059238,0.994186,1.000000,0.770960,0.693627,0.820555,0.928354,0.985547,0.962588,-0.077580
work_text_reviews_count,-0.504533,-0.457566,0.226892,0.231193,0.198897,0.099387,0.018192,0.063930,0.046406,0.739305,0.770960,1.000000,0.530800,0.639966,0.706071,0.779345,0.732787,0.226892
ratings_1,-0.353977,-0.322117,-0.051185,-0.044070,-0.041149,0.183645,0.010855,-0.022792,-0.158450,0.698300,0.693627,0.530800,1.000000,0.926504,0.786800,0.642736,0.556098,-0.051185
ratings_2,-0.486836,-0.445225,-0.071685,-0.059256,-0.058975,0.286218,0.017839,-0.053569,-0.216865,0.817917,0.820555,0.639966,0.926504,1.000000,0.943107,0.808221,0.657842,-0.071685
ratings_3,-0.572394,-0.524579,-0.097065,-0.081891,-0.076651,0.333479,0.021108,-0.058016,-0.135887,0.921946,0.928354,0.706071,0.786800,0.943107,1.000000,0.941587,0.795695,-0.097065
ratings_4,-0.573797,-0.524337,-0.077603,-0.062400,-0.056103,0.292623,0.018209,-0.025558,0.039025,0.975277,0.985547,0.779345,0.642736,0.808221,0.941587,1.000000,0.925422,-0.077603
ratings_5,-0.479328,-0.435284,-0.064678,-0.054630,-0.041062,0.222867,0.012716,-0.004992,0.183508,0.959134,0.962588,0.732787,0.556098,0.657842,0.795695,0.925422,1.000000,-0.064678
goodreads_book_id,0.169049,0.199136,1.000000,0.930314,0.921931,-0.191001,-0.044094,0.137200,0.068166,-0.092453,-0.077580,0.226892,-0.051185,-0.071685,-0.097065,-0.077603,-0.064678,1.000000

## Mengubah niai salah satu attribute bertipe angka menjadi desimal 3 angka di belakang koma

In [301]:
Books["ratings_5"] = Books["ratings_5"].astype("float64")
Books["ratings_5"] = Books["ratings_5"].apply("{:.3f}".format)
Books[["ratings_5"]]

        ratings_5
0     2706317.000
1     3011543.000
2     1355439.000
3     1714267.000
4      947718.000
...           ...
1995    28951.000
1996    23377.000
1997    19412.000
1998    24327.000
1999    46370.000

[2000 rows x 1 columns]

## Menampilkan 10 record pertama dari attribute bertipe angka

In [302]:
Books[["id"]].head(10)

   id
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

## Menyimpan dataset dengan attribute bertipe angka ke dalam file csv

In [303]:
Books.select_dtypes(include = ["int64", "float64"]).to_csv("Hasil_Postest2.csv")